* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-63deg, #000428, #004e92);
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#title {
  color: white;
  position: absolute;
  font-family: sans-serif;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.counter {
  background-color: #000046;
  margin: 45px auto;
  width: 60%;
  height: 450px;
  padding: 10px;
  position: relative;
  border-radius: 5px;
}

.screen {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5px;
}

.button button {
  color: black;
  background: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 70px;
  border-radius: 50px;
  font-size: 50px;
  box-shadow: black;
}

.button-minus button {
  color: black;
  background: red;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 70px;
  border-radius: 50px;
  font-size: 50px;
}

.button-reset button {
  color: black;
  background: gray;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 40px;
  border-radius: 5px;
  font-weight: bold;
}
